extends ./common/layout

block content
  h1 This is the home page

  p Viewers have watched #{videosWatched} video(s).

  form(action="/record-viewing/12345" method="POST")
    button(type="submit") Record viewing video
